body {
	background: darkorange;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
}

button {
	background: lightblue;
	-webkit-border-radius: 0.5em;
	border: none;
	height: 2em;
	color: darkblue;
	font-weight: bold;
}